.sec-title{
    font-size: 26px;
    font-family: $dosis;
    color: $t;
    margin-bottom: 50px;
    @include media-breakpoint-down(sm) {
        font-size: 22px;
        margin-bottom: 30px;
    }
}

.modal{
    .modal-body{
        .title{
            font-weight: bold;
            margin: 10px 0 25px 0;
            font-size: 18px;
        }
        .link{
            font-weight: bold;
            color: $main;
            font-size: 24px;
        }
        .table{
            border-bottom: 1px solid #dee2e6;
            thead{
                tr{
                    td{
                        font-size: 16px;
                    }
                }
            }
            tbody{
                tr{
                    td{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.modal-backdrop.show{
    opacity: 0.8;
}

.table{
    thead{
        th{
            font-size: 14px;
            border-top: none !important;
        }
    }
    tbody {
        tr{
            td{
                font-size: 14px;
                vertical-align: middle;
                border-top: none !important;
            }
            &:nth-of-type(odd) {
                background-color: rgba($color: $main, $alpha: 0.1) !important;
            }
        }
    }
}

.price{
    border: none !important;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1) !important;
    // margin-bottom: 70px;
    .card-header{
        border: none !important;
        font-weight: bold !important;
        text-align: center;
        padding: 1rem 1.25rem;
        &.prime{
            background-color: rgba($color: $main, $alpha: 0.1) !important;
        }
    }
    .card-body{
        p{
            margin-bottom: 10px;
            text-align: center;
        }
    }
}

.float{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    z-index: 100;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-down(sm) {
        width: 46px;
        height: 46px;
    }
    img{
        @include media-breakpoint-down(sm) {
            width: 24px;
        }
    }
}