.sec-title{
    font-size: 26px;
    font-family: $dosis;
    color: $t;
    margin-bottom: 50px;
    @include media-breakpoint-down(sm) {
        font-size: 22px;
        margin-bottom: 30px;
    }
}

.modal{
    .modal-body{
        .title{
            font-weight: bold;
            margin: 10px 0 25px 0;
            font-size: 18px;
        }
        .table{
            border-bottom: 1px solid #dee2e6;
            thead{
                tr{
                    td{
                        font-size: 16px;
                    }
                }
            }
            tbody{
                tr{
                    td{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.modal-backdrop.show{
    opacity: 0.8;
}

.table{
    thead{
        th{
            font-size: 14px;
            border-top: none !important;
        }
    }
    tbody {
        tr{
            td{
                font-size: 14px;
                vertical-align: middle;
                border-top: none !important;
            }
            &:nth-of-type(odd) {
                background-color: rgba($color: $main, $alpha: 0.1) !important;
            }
        }
    }
}