// Variables

$main: #f36e38;
$second: #582841;
$third: #ef4648;

// Basic Color
$wt: #FFFFFF;
$bl: #000000;
$t: #444;

$gray: #BCBCBC;
$lgray: #F1F1F1;
$lgray2: #F8F8F8;

$ldblue: #262B4D;

$orange: #FFAE00;
$green: #64BC36;
$blue: #22A6B3;
$red: #EB4D4B;
$brown: #B49D3A;

// pallete
$border: #EAEAEA;
$border2: rgba(34, 34, 34, 0.3);

// font
$dosis: 'Dosis', sans-serif;
$lato: 'Open Sans', sans-serif;